<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guodu.mapper.pwbh.PwbhDzMapper">
  <resultMap id="BaseResultMap" type="com.guodu.pojo.pwbh.PwbhDz">
    <!--@mbg.generated-->
    <!--@Table pwbh_dz-->
    <id column="tsid" jdbcType="VARCHAR" property="tsid" />
    <result column="g1" jdbcType="VARCHAR" property="g1" />
    <result column="g11" jdbcType="VARCHAR" property="g11" />
    <result column="g12" jdbcType="VARCHAR" property="g12" />
    <result column="g2" jdbcType="VARCHAR" property="g2" />
    <result column="g21" jdbcType="VARCHAR" property="g21" />
    <result column="g22" jdbcType="VARCHAR" property="g22" />
    <result column="l1" jdbcType="VARCHAR" property="l1" />
    <result column="l11" jdbcType="VARCHAR" property="l11" />
    <result column="l12" jdbcType="VARCHAR" property="l12" />
    <result column="l2" jdbcType="VARCHAR" property="l2" />
    <result column="l21" jdbcType="VARCHAR" property="l21" />
    <result column="lx22" jdbcType="VARCHAR" property="lx22" />
    <result column="lx21" jdbcType="VARCHAR" property="lx21" />
    <result column="lx2" jdbcType="VARCHAR" property="lx2" />
    <result column="lx12" jdbcType="VARCHAR" property="lx12" />
    <result column="lx11" jdbcType="VARCHAR" property="lx11" />
    <result column="lx1" jdbcType="VARCHAR" property="lx1" />
    <result column="l22" jdbcType="VARCHAR" property="l22" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    tsid, g1, g11, g12, g2, g21, g22, l1, l11, l12, l2, l21, lx22, lx21, lx2, lx12, lx11, 
    lx1, l22
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pwbh_dz
    where tsid = #{tsid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from pwbh_dz
    where tsid = #{tsid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.guodu.pojo.pwbh.PwbhDz">
    <!--@mbg.generated-->
    insert into pwbh_dz (tsid, g1, g11, 
      g12, g2, g21, g22, 
      l1, l11, l12, l2, 
      l21, lx22, lx21, lx2, 
      lx12, lx11, lx1, l22
      )
    values (#{tsid,jdbcType=VARCHAR}, #{g1,jdbcType=VARCHAR}, #{g11,jdbcType=VARCHAR}, 
      #{g12,jdbcType=VARCHAR}, #{g2,jdbcType=VARCHAR}, #{g21,jdbcType=VARCHAR}, #{g22,jdbcType=VARCHAR}, 
      #{l1,jdbcType=VARCHAR}, #{l11,jdbcType=VARCHAR}, #{l12,jdbcType=VARCHAR}, #{l2,jdbcType=VARCHAR}, 
      #{l21,jdbcType=VARCHAR}, #{lx22,jdbcType=VARCHAR}, #{lx21,jdbcType=VARCHAR}, #{lx2,jdbcType=VARCHAR}, 
      #{lx12,jdbcType=VARCHAR}, #{lx11,jdbcType=VARCHAR}, #{lx1,jdbcType=VARCHAR}, #{l22,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guodu.pojo.pwbh.PwbhDz">
    <!--@mbg.generated-->
    insert into pwbh_dz
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tsid != null and tsid != ''">
        tsid,
      </if>
      <if test="g1 != null and g1 != ''">
        g1,
      </if>
      <if test="g11 != null and g11 != ''">
        g11,
      </if>
      <if test="g12 != null and g12 != ''">
        g12,
      </if>
      <if test="g2 != null and g2 != ''">
        g2,
      </if>
      <if test="g21 != null and g21 != ''">
        g21,
      </if>
      <if test="g22 != null and g22 != ''">
        g22,
      </if>
      <if test="l1 != null and l1 != ''">
        l1,
      </if>
      <if test="l11 != null and l11 != ''">
        l11,
      </if>
      <if test="l12 != null and l12 != ''">
        l12,
      </if>
      <if test="l2 != null and l2 != ''">
        l2,
      </if>
      <if test="l21 != null and l21 != ''">
        l21,
      </if>
      <if test="lx22 != null and lx22 != ''">
        lx22,
      </if>
      <if test="lx21 != null and lx21 != ''">
        lx21,
      </if>
      <if test="lx2 != null and lx2 != ''">
        lx2,
      </if>
      <if test="lx12 != null and lx12 != ''">
        lx12,
      </if>
      <if test="lx11 != null and lx11 != ''">
        lx11,
      </if>
      <if test="lx1 != null and lx1 != ''">
        lx1,
      </if>
      <if test="l22 != null and l22 != ''">
        l22,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tsid != null and tsid != ''">
        #{tsid,jdbcType=VARCHAR},
      </if>
      <if test="g1 != null and g1 != ''">
        #{g1,jdbcType=VARCHAR},
      </if>
      <if test="g11 != null and g11 != ''">
        #{g11,jdbcType=VARCHAR},
      </if>
      <if test="g12 != null and g12 != ''">
        #{g12,jdbcType=VARCHAR},
      </if>
      <if test="g2 != null and g2 != ''">
        #{g2,jdbcType=VARCHAR},
      </if>
      <if test="g21 != null and g21 != ''">
        #{g21,jdbcType=VARCHAR},
      </if>
      <if test="g22 != null and g22 != ''">
        #{g22,jdbcType=VARCHAR},
      </if>
      <if test="l1 != null and l1 != ''">
        #{l1,jdbcType=VARCHAR},
      </if>
      <if test="l11 != null and l11 != ''">
        #{l11,jdbcType=VARCHAR},
      </if>
      <if test="l12 != null and l12 != ''">
        #{l12,jdbcType=VARCHAR},
      </if>
      <if test="l2 != null and l2 != ''">
        #{l2,jdbcType=VARCHAR},
      </if>
      <if test="l21 != null and l21 != ''">
        #{l21,jdbcType=VARCHAR},
      </if>
      <if test="lx22 != null and lx22 != ''">
        #{lx22,jdbcType=VARCHAR},
      </if>
      <if test="lx21 != null and lx21 != ''">
        #{lx21,jdbcType=VARCHAR},
      </if>
      <if test="lx2 != null and lx2 != ''">
        #{lx2,jdbcType=VARCHAR},
      </if>
      <if test="lx12 != null and lx12 != ''">
        #{lx12,jdbcType=VARCHAR},
      </if>
      <if test="lx11 != null and lx11 != ''">
        #{lx11,jdbcType=VARCHAR},
      </if>
      <if test="lx1 != null and lx1 != ''">
        #{lx1,jdbcType=VARCHAR},
      </if>
      <if test="l22 != null and l22 != ''">
        #{l22,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guodu.pojo.pwbh.PwbhDz">
    <!--@mbg.generated-->
    update pwbh_dz
    <set>
      <if test="g1 != null">
        g1 = #{g1,jdbcType=VARCHAR},
      </if>
      <if test="g11 != null">
        g11 = #{g11,jdbcType=VARCHAR},
      </if>
      <if test="g12 != null">
        g12 = #{g12,jdbcType=VARCHAR},
      </if>
      <if test="g2 != null">
        g2 = #{g2,jdbcType=VARCHAR},
      </if>
      <if test="g21 != null">
        g21 = #{g21,jdbcType=VARCHAR},
      </if>
      <if test="g22 != null">
        g22 = #{g22,jdbcType=VARCHAR},
      </if>
      <if test="l1 != null">
        l1 = #{l1,jdbcType=VARCHAR},
      </if>
      <if test="l11 != null">
        l11 = #{l11,jdbcType=VARCHAR},
      </if>
      <if test="l12 != null">
        l12 = #{l12,jdbcType=VARCHAR},
      </if>
      <if test="l2 != null">
        l2 = #{l2,jdbcType=VARCHAR},
      </if>
      <if test="l21 != null">
        l21 = #{l21,jdbcType=VARCHAR},
      </if>
      <if test="lx22 != null">
        lx22 = #{lx22,jdbcType=VARCHAR},
      </if>
      <if test="lx21 != null">
        lx21 = #{lx21,jdbcType=VARCHAR},
      </if>
      <if test="lx2 != null">
        lx2 = #{lx2,jdbcType=VARCHAR},
      </if>
      <if test="lx12 != null">
        lx12 = #{lx12,jdbcType=VARCHAR},
      </if>
      <if test="lx11 != null">
        lx11 = #{lx11,jdbcType=VARCHAR},
      </if>
      <if test="lx1 != null">
        lx1 = #{lx1,jdbcType=VARCHAR},
      </if>
      <if test="l22 != null">
        l22 = #{l22,jdbcType=VARCHAR},
      </if>
    </set>
    where tsid = #{tsid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guodu.pojo.pwbh.PwbhDz">
    <!--@mbg.generated-->
    update pwbh_dz
    set g1 = #{g1,jdbcType=VARCHAR},
      g11 = #{g11,jdbcType=VARCHAR},
      g12 = #{g12,jdbcType=VARCHAR},
      g2 = #{g2,jdbcType=VARCHAR},
      g21 = #{g21,jdbcType=VARCHAR},
      g22 = #{g22,jdbcType=VARCHAR},
      l1 = #{l1,jdbcType=VARCHAR},
      l11 = #{l11,jdbcType=VARCHAR},
      l12 = #{l12,jdbcType=VARCHAR},
      l2 = #{l2,jdbcType=VARCHAR},
      l21 = #{l21,jdbcType=VARCHAR},
      lx22 = #{lx22,jdbcType=VARCHAR},
      lx21 = #{lx21,jdbcType=VARCHAR},
      lx2 = #{lx2,jdbcType=VARCHAR},
      lx12 = #{lx12,jdbcType=VARCHAR},
      lx11 = #{lx11,jdbcType=VARCHAR},
      lx1 = #{lx1,jdbcType=VARCHAR},
      l22 = #{l22,jdbcType=VARCHAR}
    where tsid = #{tsid,jdbcType=VARCHAR}
  </update>
  <select id="selectByAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from pwbh_dz
        <where>
            <if test="tsid != null and tsid != ''">
                and tsid=#{tsid,jdbcType=VARCHAR}
            </if>
            <if test="g1 != null and g1 != ''">
                and g1=#{g1,jdbcType=VARCHAR}
            </if>
            <if test="g11 != null and g11 != ''">
                and g11=#{g11,jdbcType=VARCHAR}
            </if>
            <if test="g12 != null and g12 != ''">
                and g12=#{g12,jdbcType=VARCHAR}
            </if>
            <if test="g2 != null and g2 != ''">
                and g2=#{g2,jdbcType=VARCHAR}
            </if>
            <if test="g21 != null and g21 != ''">
                and g21=#{g21,jdbcType=VARCHAR}
            </if>
            <if test="g22 != null and g22 != ''">
                and g22=#{g22,jdbcType=VARCHAR}
            </if>
            <if test="l1 != null and l1 != ''">
                and l1=#{l1,jdbcType=VARCHAR}
            </if>
            <if test="l11 != null and l11 != ''">
                and l11=#{l11,jdbcType=VARCHAR}
            </if>
            <if test="l12 != null and l12 != ''">
                and l12=#{l12,jdbcType=VARCHAR}
            </if>
            <if test="l2 != null and l2 != ''">
                and l2=#{l2,jdbcType=VARCHAR}
            </if>
            <if test="l21 != null and l21 != ''">
                and l21=#{l21,jdbcType=VARCHAR}
            </if>
            <if test="lx22 != null and lx22 != ''">
                and lx22=#{lx22,jdbcType=VARCHAR}
            </if>
            <if test="lx21 != null and lx21 != ''">
                and lx21=#{lx21,jdbcType=VARCHAR}
            </if>
            <if test="lx2 != null and lx2 != ''">
                and lx2=#{lx2,jdbcType=VARCHAR}
            </if>
            <if test="lx12 != null and lx12 != ''">
                and lx12=#{lx12,jdbcType=VARCHAR}
            </if>
            <if test="lx11 != null and lx11 != ''">
                and lx11=#{lx11,jdbcType=VARCHAR}
            </if>
            <if test="lx1 != null and lx1 != ''">
                and lx1=#{lx1,jdbcType=VARCHAR}
            </if>
            <if test="l22 != null and l22 != ''">
                and l22=#{l22,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pwbh_dz
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="g1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.g1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="g11 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.g11,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="g12 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.g12,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="g2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.g2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="g21 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.g21,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="g22 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.g22,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="l1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.l1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="l11 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.l11,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="l12 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.l12,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="l2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.l2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="l21 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.l21,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="lx22 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.lx22,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="lx21 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.lx21,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="lx2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.lx2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="lx12 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.lx12,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="lx11 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.lx11,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="lx1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.lx1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="l22 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.l22,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where tsid in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.tsid,jdbcType=VARCHAR}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pwbh_dz
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="g1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g1 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.g1,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="g11 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g11 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.g11,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="g12 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g12 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.g12,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="g2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g2 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.g2,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="g21 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g21 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.g21,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="g22 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g22 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.g22,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="l1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.l1 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.l1,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="l11 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.l11 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.l11,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="l12 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.l12 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.l12,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="l2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.l2 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.l2,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="l21 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.l21 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.l21,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="lx22 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lx22 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.lx22,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="lx21 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lx21 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.lx21,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="lx2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lx2 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.lx2,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="lx12 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lx12 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.lx12,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="lx11 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lx11 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.lx11,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="lx1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lx1 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.lx1,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="l22 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.l22 != null">
            when tsid = #{item.tsid,jdbcType=VARCHAR} then #{item.l22,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where tsid in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.tsid,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into pwbh_dz
    (tsid, g1, g11, g12, g2, g21, g22, l1, l11, l12, l2, l21, lx22, lx21, lx2, lx12, 
      lx11, lx1, l22)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.tsid,jdbcType=VARCHAR}, #{item.g1,jdbcType=VARCHAR}, #{item.g11,jdbcType=VARCHAR}, 
        #{item.g12,jdbcType=VARCHAR}, #{item.g2,jdbcType=VARCHAR}, #{item.g21,jdbcType=VARCHAR}, 
        #{item.g22,jdbcType=VARCHAR}, #{item.l1,jdbcType=VARCHAR}, #{item.l11,jdbcType=VARCHAR}, 
        #{item.l12,jdbcType=VARCHAR}, #{item.l2,jdbcType=VARCHAR}, #{item.l21,jdbcType=VARCHAR}, 
        #{item.lx22,jdbcType=VARCHAR}, #{item.lx21,jdbcType=VARCHAR}, #{item.lx2,jdbcType=VARCHAR}, 
        #{item.lx12,jdbcType=VARCHAR}, #{item.lx11,jdbcType=VARCHAR}, #{item.lx1,jdbcType=VARCHAR}, 
        #{item.l22,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>