<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guodu.mapper.pwbh.PwbhBzBhctMapper">
  <resultMap id="BaseResultMap" type="com.guodu.pojo.pwbh.PwbhBzBhct">
    <!--@mbg.generated-->
    <!--@Table pwbh_bz_bhct-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ssqy" jdbcType="VARCHAR" property="ssqy" />
    <result column="xb" jdbcType="VARCHAR" property="xb" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, ssqy, xb
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pwbh_bz_bhct
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from pwbh_bz_bhct
    where 1=1
    <if test="id != -1"> and id = #{id}</if>
  </delete>
  <insert id="insert" parameterType="com.guodu.pojo.pwbh.PwbhBzBhct">
    <!--@mbg.generated-->
    insert into pwbh_bz_bhct (id, ssqy, xb)
    values (#{id,jdbcType=VARCHAR}, #{ssqy,jdbcType=VARCHAR}, #{xb,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.guodu.pojo.pwbh.PwbhBzBhct">
    <!--@mbg.generated-->
    insert into pwbh_bz_bhct
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="ssqy != null and ssqy != ''">
        ssqy,
      </if>
      <if test="xb != null and xb != ''">
        xb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ssqy != null and ssqy != ''">
        #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="xb != null and xb != ''">
        #{xb,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guodu.pojo.pwbh.PwbhBzBhct">
    <!--@mbg.generated-->
    update pwbh_bz_bhct
    <set>
      <if test="ssqy != null and ssqy != ''">
        ssqy = #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="xb != null and xb != ''">
        xb = #{xb,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guodu.pojo.pwbh.PwbhBzBhct">
    <!--@mbg.generated-->
    update pwbh_bz_bhct
    set ssqy = #{ssqy,jdbcType=VARCHAR},
      xb = #{xb,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from pwbh_bz_bhct
        <where>
            <if test="id != null and id != ''">
                and id=#{id,jdbcType=VARCHAR}
            </if>
            <if test="ssqy != null and ssqy != ''">
                and ssqy=#{ssqy,jdbcType=VARCHAR}
            </if>
            <if test="xb != null and xb != ''">
                and xb=#{xb,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pwbh_bz_bhct
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="ssqy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.ssqy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="xb = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.xb,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pwbh_bz_bhct
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="ssqy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.ssqy != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.ssqy,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="xb = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.xb != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.xb,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into pwbh_bz_bhct
    (id, ssqy, xb)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.ssqy,jdbcType=VARCHAR}, #{item.xb,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
</mapper>