<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guodu.mapper.pwbh.PwbhBzZzsyMapper">
  <resultMap id="BaseResultMap" type="com.guodu.pojo.pwbh.PwbhBzZzsy">
    <!--@mbg.generated-->
    <!--@Table pwbh_bz_zzsy-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ssqy" jdbcType="VARCHAR" property="ssqy" />
    <result column="jyxm" jdbcType="VARCHAR" property="jyxm" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, ssqy, jyxm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pwbh_bz_zzsy
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from pwbh_bz_zzsy
    where 1=1
    <if test="id != -1"> and id = #{id}</if>
  </delete>
  <insert id="insert" parameterType="com.guodu.pojo.pwbh.PwbhBzZzsy">
    <!--@mbg.generated-->
    insert into pwbh_bz_zzsy (id, ssqy, jyxm
      )
    values (#{id,jdbcType=VARCHAR}, #{ssqy,jdbcType=VARCHAR}, #{jyxm,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guodu.pojo.pwbh.PwbhBzZzsy">
    <!--@mbg.generated-->
    insert into pwbh_bz_zzsy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="ssqy != null and ssqy != ''">
        ssqy,
      </if>
      <if test="jyxm != null and jyxm != ''">
        jyxm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ssqy != null and ssqy != ''">
        #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="jyxm != null and jyxm != ''">
        #{jyxm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guodu.pojo.pwbh.PwbhBzZzsy">
    <!--@mbg.generated-->
    update pwbh_bz_zzsy
    <set>
      <if test="ssqy != null and ssqy != ''">
        ssqy = #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="jyxm != null and jyxm != ''">
        jyxm = #{jyxm,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guodu.pojo.pwbh.PwbhBzZzsy">
    <!--@mbg.generated-->
    update pwbh_bz_zzsy
    set ssqy = #{ssqy,jdbcType=VARCHAR},
      jyxm = #{jyxm,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from pwbh_bz_zzsy
        <where>
            <if test="id != null and id != ''">
                and id=#{id,jdbcType=VARCHAR}
            </if>
            <if test="ssqy != null and ssqy != ''">
                and ssqy=#{ssqy,jdbcType=VARCHAR}
            </if>
            <if test="jyxm != null and jyxm != ''">
                and jyxm=#{jyxm,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pwbh_bz_zzsy
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="ssqy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.ssqy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="jyxm = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.jyxm,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pwbh_bz_zzsy
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="ssqy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.ssqy != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.ssqy,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="jyxm = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.jyxm != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.jyxm,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into pwbh_bz_zzsy
    (id, ssqy, jyxm)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.ssqy,jdbcType=VARCHAR}, #{item.jyxm,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
</mapper>