<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guodu.mapper.pwbh.PwbhJlDzjcMapper">
  <resultMap id="BaseResultMap" type="com.guodu.pojo.pwbh.PwbhJlDzjc">
    <!--@mbg.generated-->
    <!--@Table pwbh_jl_dzjc-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="tsid" jdbcType="VARCHAR" property="tsid" />
    <result column="ssqy" jdbcType="VARCHAR" property="ssqy" />
    <result column="jg" jdbcType="VARCHAR" property="jg" />
    <result column="g1" jdbcType="VARCHAR" property="g1" />
    <result column="g11" jdbcType="VARCHAR" property="g11" />
    <result column="g12" jdbcType="VARCHAR" property="g12" />
    <result column="g2" jdbcType="VARCHAR" property="g2" />
    <result column="g21" jdbcType="VARCHAR" property="g21" />
    <result column="g22" jdbcType="VARCHAR" property="g22" />
    <result column="czr" jdbcType="VARCHAR" property="czr" />
    <result column="czsj" jdbcType="TIMESTAMP" property="czsj" />
    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, tsid, ssqy, jg, g1, g11, g12, g2, g21, g22, czr, czsj, beizhu
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pwbh_jl_dzjc
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from pwbh_jl_dzjc
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.guodu.pojo.pwbh.PwbhJlDzjc">
    <!--@mbg.generated-->
    insert into pwbh_jl_dzjc (id, tsid, ssqy, 
      jg, g1, g11, g12, 
      g2, g21, g22, czr, 
      czsj, beizhu)
    values (#{id,jdbcType=VARCHAR}, #{tsid,jdbcType=VARCHAR}, #{ssqy,jdbcType=VARCHAR}, 
      #{jg,jdbcType=VARCHAR}, #{g1,jdbcType=VARCHAR}, #{g11,jdbcType=VARCHAR}, #{g12,jdbcType=VARCHAR}, 
      #{g2,jdbcType=VARCHAR}, #{g21,jdbcType=VARCHAR}, #{g22,jdbcType=VARCHAR}, #{czr,jdbcType=VARCHAR}, 
      #{czsj,jdbcType=TIMESTAMP}, #{beizhu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.guodu.pojo.pwbh.PwbhJlDzjc">
    <!--@mbg.generated-->
    insert into pwbh_jl_dzjc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="tsid != null and tsid != ''">
        tsid,
      </if>
      <if test="ssqy != null and ssqy != ''">
        ssqy,
      </if>
      <if test="jg != null and jg != ''">
        jg,
      </if>
      <if test="g1 != null and g1 != ''">
        g1,
      </if>
      <if test="g11 != null and g11 != ''">
        g11,
      </if>
      <if test="g12 != null and g12 != ''">
        g12,
      </if>
      <if test="g2 != null and g2 != ''">
        g2,
      </if>
      <if test="g21 != null and g21 != ''">
        g21,
      </if>
      <if test="g22 != null and g22 != ''">
        g22,
      </if>
      <if test="czr != null and czr != ''">
        czr,
      </if>
      <if test="czsj != null">
        czsj,
      </if>
      <if test="beizhu != null and beizhu != ''">
        beizhu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tsid != null and tsid != ''">
        #{tsid,jdbcType=VARCHAR},
      </if>
      <if test="ssqy != null and ssqy != ''">
        #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="jg != null and jg != ''">
        #{jg,jdbcType=VARCHAR},
      </if>
      <if test="g1 != null and g1 != ''">
        #{g1,jdbcType=VARCHAR},
      </if>
      <if test="g11 != null and g11 != ''">
        #{g11,jdbcType=VARCHAR},
      </if>
      <if test="g12 != null and g12 != ''">
        #{g12,jdbcType=VARCHAR},
      </if>
      <if test="g2 != null and g2 != ''">
        #{g2,jdbcType=VARCHAR},
      </if>
      <if test="g21 != null and g21 != ''">
        #{g21,jdbcType=VARCHAR},
      </if>
      <if test="g22 != null and g22 != ''">
        #{g22,jdbcType=VARCHAR},
      </if>
      <if test="czr != null and czr != ''">
        #{czr,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null">
        #{czsj,jdbcType=TIMESTAMP},
      </if>
      <if test="beizhu != null and beizhu != ''">
        #{beizhu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guodu.pojo.pwbh.PwbhJlDzjc">
    <!--@mbg.generated-->
    update pwbh_jl_dzjc
    <set>
      <if test="tsid != null and tsid != ''">
        tsid = #{tsid,jdbcType=VARCHAR},
      </if>
      <if test="ssqy != null and ssqy != ''">
        ssqy = #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="jg != null and jg != ''">
        jg = #{jg,jdbcType=VARCHAR},
      </if>
      <if test="g1 != null and g1 != ''">
        g1 = #{g1,jdbcType=VARCHAR},
      </if>
      <if test="g11 != null and g11 != ''">
        g11 = #{g11,jdbcType=VARCHAR},
      </if>
      <if test="g12 != null and g12 != ''">
        g12 = #{g12,jdbcType=VARCHAR},
      </if>
      <if test="g2 != null and g2 != ''">
        g2 = #{g2,jdbcType=VARCHAR},
      </if>
      <if test="g21 != null and g21 != ''">
        g21 = #{g21,jdbcType=VARCHAR},
      </if>
      <if test="g22 != null and g22 != ''">
        g22 = #{g22,jdbcType=VARCHAR},
      </if>
      <if test="czr != null and czr != ''">
        czr = #{czr,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null">
        czsj = #{czsj,jdbcType=TIMESTAMP},
      </if>
      <if test="beizhu != null and beizhu != ''">
        beizhu = #{beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guodu.pojo.pwbh.PwbhJlDzjc">
    <!--@mbg.generated-->
    update pwbh_jl_dzjc
    set tsid = #{tsid,jdbcType=VARCHAR},
      ssqy = #{ssqy,jdbcType=VARCHAR},
      jg = #{jg,jdbcType=VARCHAR},
      g1 = #{g1,jdbcType=VARCHAR},
      g11 = #{g11,jdbcType=VARCHAR},
      g12 = #{g12,jdbcType=VARCHAR},
      g2 = #{g2,jdbcType=VARCHAR},
      g21 = #{g21,jdbcType=VARCHAR},
      g22 = #{g22,jdbcType=VARCHAR},
      czr = #{czr,jdbcType=VARCHAR},
      czsj = #{czsj,jdbcType=TIMESTAMP},
      beizhu = #{beizhu,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>