@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
body { font-size:12px; color:#666; font-family: "宋体"，Verdana, Microsoft YaHei, Simsun; background:#fff; 
        
 }
fieldset, img { border:0; }
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
em { font-style:normal;font-size: 14px; }
input, button, select, textarea { outline:none; } 
textarea { resize:none; } /*//禁用了文本的拖拉，尤其在谷歌下*/
p{ text-align:center; text-justify:distribute;} /*//为了使文本段落左右两边对齐*/
/*======== Link ========*/
a { /*color: white; */font-size:16px; text-align:center; text-decoration:none; }
/*a:hover {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}


/**********************************************导航栏开始******************************/
*{
	margin:0;
	padding:0;
	}

/**********************************************顶部开始******************************/	        
.top{
	width:98%;
	height:112px;
	background:url(../images/top_bg.png)  repeat-x;
	overflow:hidden;
	}
.top_left{ 
    float:left; 
	width:45%;
	height:112px;
	/*border:1px solid red;*/
	
	}
.top_left01{
	margin-left:178px;
	}
.top_right	{
	float:right; 
	width:45%;
	height:112px;
	/*border:1px solid red;*/
	overflow:hidden;
	}
.top_right ul li {
	float:right;
	}
.top_right ul li img{
	margin:20px 25px 10px 10px;
	}
.top_right ul li p{
	margin-right:17px;
	text-align:center;
	color:white;
	}
.topbottom{
	height:25px;
	background-color:#9CDCFF;
	}
.topbottom a{
	margin-left:30px;
	}
		
/**********************************************左边开始******************************/	
.bigbd{
	
	
	height:600px;
	}
.left{
	overflow:hidden; 
	width:145px; 
	height:100%; 
	background:url(../images/left_bg3.png) no-repeat;
	height:600px;
	width:170px;
	padding:0 0 0 0;
	height:99%;
	min-height:20%;
	}
.bigbd .left ul dd{
    width:145px; 
	height:33px;
	line-height:33px;
	text-align:center;
	font-size:14px;
	color:white;
	font-weight:bold;
	background-image:url(../images/lefttop_bg.png);
	}
.bigbd .left ul p{
	color:#003D7C;
	line-height:20px;
	text-align:center;
	font-size:14px;}

.bigbd .left ul li{ 
   color:white;
   width:85px; 
   height:67px;
   text-align:center;
   margin:0 auto;
   margin-top:40px; 
   background-image:url(../images/left_01.png); 
   }
.bigbd .left ul li a{ 
   color:white;text-decoration:none; 
   width:85px; 
   /*height:67px;*/ 
   display:block;  
   background-image:url(../images/lift_li.gif)
   }
.bigbd .left ul li a:hover{  
    color:white;  
	background-image:url(../images/left_kj.gif);
	}
.bigbd .left ul li img{
	padding-top:5px;
	}
.left_hover{
	color:white; 
	background-image:url(../images/right_01.png);
	}

	 /********************表格开始*********************/
.main{
	/*margin-top:10px;*/
	width:100%;
	height:700px;
	padding:0 0 0 0;
	min-height:20%;
	background-color:#fff;
	float:right;
	/*margin-right:5px;*/
	overflow:auto;
   /* border:3px solid #0169B0;*/
	}
.main .main_top{
	width:110%;
	height: 33px;
	line-height: 33px;
	background: url(../images/maintop_bg.jpg) repeat-x;
	color: #00C;
	position:fixed;
	
	
	}
	 /*表格开始*/
.main .main_top img{
	display:block;
	float:left;
	}
.main .main_bottom{
	
	 margin:10px auto;
	 border:1px solid #3692ff;  
	 border-collapse: collapse;
	 text-align:center; 
	}
.tiaojian{
	 height:70px;
	 line-height:110px;
	 /*text-align:center;margin-left:100px;*/
	 padding-left: 20px;
	
	}
.tiaojian span{
	font-size:14px;
	color:#000;
	/*font-weight:none;*/		
	}

input{
	border:1px solid #0080cf;
	}
.tiaojian .in{
	width:130px;
	}
.main .main_bottom .ipu_c,.ipu_d{
	width:60px;
	height:23px;
	line-height:20px;
	color:white;
	background:url(../images/iput_02.jpg) no-repeat;
	font-weight:bold;
	border:0px;
	}

.main .main_bottom .ipu_d{
	margin-left:120px;
	}
.main .main_bottom b{ 
    font-weight:normal;
	}
 .main .main_bottom td{
	/*padding: 5px;*/
	height:30px;
	border: 1px #3692ff solid;
/*	font-weight: bold;*/
	font-size: 13px;
	color:#333;
}
.main .main_bottom .ipu_e{
	width:24px;
	height:24px;
	line-height:24px;
	color:white;
	background:url(../images/mainin_bg.gif) no-repeat;
	font-size:12px;
	border:0px;
	/*border:1px red #360FB2;*/
	}
	              /*表格结束*/
.yewei{
	text-align: center;
	font-size: 12px;
	}
/*.yewei p{
	margin-top:40px;
	}*/
.yewei a{
	color:#333;
	padding: 0px 5px;
	}
.yewei a:hover{
	color:#333; 
	text-decoration:none;
	}

/*input{
	border:1px solid #ccc;
	}*/
 img{ 
   /*display:block;*/
    border:0px;
	}
 
 
 
 
 