<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guodu.mapper.sys.SysSsxlMapper">
    <resultMap id="BaseResultMap" type="com.guodu.pojo.sys.SysSsxl">
        <!--@mbg.generated-->
        <!--@Table sys_ssxl-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="ssqy" jdbcType="VARCHAR" property="ssqy"/>
        <result column="bdz" jdbcType="VARCHAR" property="bdz"/>
        <result column="xlmc" jdbcType="VARCHAR" property="xlmc"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, ssqy, bdz, xlmc
    </sql>

    <insert id="insert" parameterType="com.guodu.pojo.sys.SysSsxl">
        insert into sys_ssxl (
        <include refid="Base_Column_List"/>
        )
        values (
            #{id,jdbcType=VARCHAR},
            #{ssqy,jdbcType=VARCHAR},
            #{bdz,jdbcType=VARCHAR},
            #{xlmc,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="delete" parameterType="java.lang.String">
        delete from sys_ssxl where 1=1
        <if test="id != -1">and id=#{id}</if>
    </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from sys_ssxl
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectByAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from sys_ssxl
        <where>
            <if test="id != null and id != ''">
                and id=#{id,jdbcType=VARCHAR}
            </if>
            <if test="ssqy != null and ssqy != ''">
                and ssqy=#{ssqy,jdbcType=VARCHAR}
            </if>
            <if test="bdz != null and bdz != ''">
                and bdz=#{bdz,jdbcType=VARCHAR}
            </if>
            <if test="xlmc != null and xlmc != ''">
                and xlmc=#{xlmc,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectByGroup" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from sys_ssxl
        <where>
            <if test="sysSsxl.id != null and sysSsxl.id != ''">
                and id=#{sysSsxl.id,jdbcType=VARCHAR}
            </if>
            <if test="sysSsxl.ssqy != null and sysSsxl.ssqy != ''">
                and ssqy=#{sysSsxl.ssqy,jdbcType=VARCHAR}
            </if>
            <if test="sysSsxl.bdz != null and sysSsxl.bdz != ''">
                and bdz=#{sysSsxl.bdz,jdbcType=VARCHAR}
            </if>
            <if test="sysSsxl.xlmc != null and sysSsxl.xlmc != ''">
                and xlmc=#{sysSsxl.xlmc,jdbcType=VARCHAR}
            </if>
        </where>
        <if test="groupBy != null and groupBy != ''">
            group by ${groupBy}
        </if>
    </select>
</mapper>