<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guodu.mapper.ftu.FtuJlGjtsMapper">
  <resultMap id="BaseResultMap" type="com.guodu.pojo.ftu.FtuJlGjts">
    <!--@mbg.generated-->
    <!--@Table ftu_jl_gjts-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="tsid" jdbcType="VARCHAR" property="tsid" />
    <result column="ssqy" jdbcType="VARCHAR" property="ssqy" />
    <result column="csx" jdbcType="VARCHAR" property="csx" />
    <result column="dz" jdbcType="VARCHAR" property="dz" />
    <result column="g1dz" jdbcType="VARCHAR" property="g1dz" />
    <result column="g1sjtd1" jdbcType="VARCHAR" property="g1sjtd1" />
    <result column="g1sjtd2" jdbcType="VARCHAR" property="g1sjtd2" />
    <result column="g2dz" jdbcType="VARCHAR" property="g2dz" />
    <result column="g2sjtd1" jdbcType="VARCHAR" property="g2sjtd1" />
    <result column="g2sjtd2" jdbcType="VARCHAR" property="g2sjtd2" />
    <result column="czr" jdbcType="VARCHAR" property="czr" />
    <result column="czsj" jdbcType="TIMESTAMP" property="czsj" />
    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, tsid, ssqy, csx, dz, g1dz, g1sjtd1, g1sjtd2, g2dz, g2sjtd1, g2sjtd2, czr, czsj, 
    beizhu
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from ftu_jl_gjts
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from ftu_jl_gjts
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.guodu.pojo.ftu.FtuJlGjts">
    <!--@mbg.generated-->
    insert into ftu_jl_gjts (id, tsid, ssqy, 
      csx, dz, g1dz, g1sjtd1, 
      g1sjtd2, g2dz, g2sjtd1, 
      g2sjtd2, czr, czsj, 
      beizhu)
    values (#{id,jdbcType=VARCHAR}, #{tsid,jdbcType=VARCHAR}, #{ssqy,jdbcType=VARCHAR}, 
      #{csx,jdbcType=VARCHAR}, #{dz,jdbcType=VARCHAR}, #{g1dz,jdbcType=VARCHAR}, #{g1sjtd1,jdbcType=VARCHAR}, 
      #{g1sjtd2,jdbcType=VARCHAR}, #{g2dz,jdbcType=VARCHAR}, #{g2sjtd1,jdbcType=VARCHAR}, 
      #{g2sjtd2,jdbcType=VARCHAR}, #{czr,jdbcType=VARCHAR}, #{czsj,jdbcType=TIMESTAMP}, 
      #{beizhu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.guodu.pojo.ftu.FtuJlGjts">
    <!--@mbg.generated-->
    insert into ftu_jl_gjts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="tsid != null and tsid != ''">
        tsid,
      </if>
      <if test="ssqy != null and ssqy != ''">
        ssqy,
      </if>
      <if test="csx != null and csx != ''">
        csx,
      </if>
      <if test="dz != null and dz != ''">
        dz,
      </if>
      <if test="g1dz != null and g1dz != ''">
        g1dz,
      </if>
      <if test="g1sjtd1 != null and g1sjtd1 != ''">
        g1sjtd1,
      </if>
      <if test="g1sjtd2 != null and g1sjtd2 != ''">
        g1sjtd2,
      </if>
      <if test="g2dz != null and g2dz != ''">
        g2dz,
      </if>
      <if test="g2sjtd1 != null and g2sjtd1 != ''">
        g2sjtd1,
      </if>
      <if test="g2sjtd2 != null and g2sjtd2 != ''">
        g2sjtd2,
      </if>
      <if test="czr != null and czr != ''">
        czr,
      </if>
      <if test="czsj != null">
        czsj,
      </if>
      <if test="beizhu != null and beizhu != ''">
        beizhu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tsid != null and tsid != ''">
        #{tsid,jdbcType=VARCHAR},
      </if>
      <if test="ssqy != null and ssqy != ''">
        #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="csx != null and csx != ''">
        #{csx,jdbcType=VARCHAR},
      </if>
      <if test="dz != null and dz != ''">
        #{dz,jdbcType=VARCHAR},
      </if>
      <if test="g1dz != null and g1dz != ''">
        #{g1dz,jdbcType=VARCHAR},
      </if>
      <if test="g1sjtd1 != null and g1sjtd1 != ''">
        #{g1sjtd1,jdbcType=VARCHAR},
      </if>
      <if test="g1sjtd2 != null and g1sjtd2 != ''">
        #{g1sjtd2,jdbcType=VARCHAR},
      </if>
      <if test="g2dz != null and g2dz != ''">
        #{g2dz,jdbcType=VARCHAR},
      </if>
      <if test="g2sjtd1 != null and g2sjtd1 != ''">
        #{g2sjtd1,jdbcType=VARCHAR},
      </if>
      <if test="g2sjtd2 != null and g2sjtd2 != ''">
        #{g2sjtd2,jdbcType=VARCHAR},
      </if>
      <if test="czr != null and czr != ''">
        #{czr,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null">
        #{czsj,jdbcType=TIMESTAMP},
      </if>
      <if test="beizhu != null and beizhu != ''">
        #{beizhu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guodu.pojo.ftu.FtuJlGjts">
    <!--@mbg.generated-->
    update ftu_jl_gjts
    <set>
      <if test="tsid != null and tsid != ''">
        tsid = #{tsid,jdbcType=VARCHAR},
      </if>
      <if test="ssqy != null and ssqy != ''">
        ssqy = #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="csx != null and csx != ''">
        csx = #{csx,jdbcType=VARCHAR},
      </if>
      <if test="dz != null and dz != ''">
        dz = #{dz,jdbcType=VARCHAR},
      </if>
      <if test="g1dz != null and g1dz != ''">
        g1dz = #{g1dz,jdbcType=VARCHAR},
      </if>
      <if test="g1sjtd1 != null and g1sjtd1 != ''">
        g1sjtd1 = #{g1sjtd1,jdbcType=VARCHAR},
      </if>
      <if test="g1sjtd2 != null and g1sjtd2 != ''">
        g1sjtd2 = #{g1sjtd2,jdbcType=VARCHAR},
      </if>
      <if test="g2dz != null and g2dz != ''">
        g2dz = #{g2dz,jdbcType=VARCHAR},
      </if>
      <if test="g2sjtd1 != null and g2sjtd1 != ''">
        g2sjtd1 = #{g2sjtd1,jdbcType=VARCHAR},
      </if>
      <if test="g2sjtd2 != null and g2sjtd2 != ''">
        g2sjtd2 = #{g2sjtd2,jdbcType=VARCHAR},
      </if>
      <if test="czr != null and czr != ''">
        czr = #{czr,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null">
        czsj = #{czsj,jdbcType=TIMESTAMP},
      </if>
      <if test="beizhu != null and beizhu != ''">
        beizhu = #{beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guodu.pojo.ftu.FtuJlGjts">
    <!--@mbg.generated-->
    update ftu_jl_gjts
    set tsid = #{tsid,jdbcType=VARCHAR},
      ssqy = #{ssqy,jdbcType=VARCHAR},
      csx = #{csx,jdbcType=VARCHAR},
      dz = #{dz,jdbcType=VARCHAR},
      g1dz = #{g1dz,jdbcType=VARCHAR},
      g1sjtd1 = #{g1sjtd1,jdbcType=VARCHAR},
      g1sjtd2 = #{g1sjtd2,jdbcType=VARCHAR},
      g2dz = #{g2dz,jdbcType=VARCHAR},
      g2sjtd1 = #{g2sjtd1,jdbcType=VARCHAR},
      g2sjtd2 = #{g2sjtd2,jdbcType=VARCHAR},
      czr = #{czr,jdbcType=VARCHAR},
      czsj = #{czsj,jdbcType=TIMESTAMP},
      beizhu = #{beizhu,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from ftu_jl_gjts
        <where>
            <if test="id != null and id != ''">
                and id=#{id,jdbcType=VARCHAR}
            </if>
            <if test="tsid != null and tsid != ''">
                and tsid=#{tsid,jdbcType=VARCHAR}
            </if>
            <if test="ssqy != null and ssqy != ''">
                and ssqy=#{ssqy,jdbcType=VARCHAR}
            </if>
            <if test="csx != null and csx != ''">
                and csx=#{csx,jdbcType=VARCHAR}
            </if>
            <if test="dz != null and dz != ''">
                and dz=#{dz,jdbcType=VARCHAR}
            </if>
            <if test="g1dz != null and g1dz != ''">
                and g1dz=#{g1dz,jdbcType=VARCHAR}
            </if>
            <if test="g1sjtd1 != null and g1sjtd1 != ''">
                and g1sjtd1=#{g1sjtd1,jdbcType=VARCHAR}
            </if>
            <if test="g1sjtd2 != null and g1sjtd2 != ''">
                and g1sjtd2=#{g1sjtd2,jdbcType=VARCHAR}
            </if>
            <if test="g2dz != null and g2dz != ''">
                and g2dz=#{g2dz,jdbcType=VARCHAR}
            </if>
            <if test="g2sjtd1 != null and g2sjtd1 != ''">
                and g2sjtd1=#{g2sjtd1,jdbcType=VARCHAR}
            </if>
            <if test="g2sjtd2 != null and g2sjtd2 != ''">
                and g2sjtd2=#{g2sjtd2,jdbcType=VARCHAR}
            </if>
            <if test="czr != null and czr != ''">
                and czr=#{czr,jdbcType=VARCHAR}
            </if>
            <if test="czsj != null">
                and czsj=#{czsj,jdbcType=TIMESTAMP}
            </if>
            <if test="beizhu != null and beizhu != ''">
                and beizhu=#{beizhu,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ftu_jl_gjts
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="tsid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.tsid,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ssqy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.ssqy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="csx = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.csx,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.dz,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="g1dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.g1dz,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="g1sjtd1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.g1sjtd1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="g1sjtd2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.g1sjtd2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="g2dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.g2dz,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="g2sjtd1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.g2sjtd1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="g2sjtd2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.g2sjtd2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="czr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.czr,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="czsj = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.czsj,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="beizhu = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.beizhu,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ftu_jl_gjts
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="tsid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.tsid != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.tsid,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="ssqy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.ssqy != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.ssqy,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="csx = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.csx != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.csx,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dz != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.dz,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="g1dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g1dz != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.g1dz,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="g1sjtd1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g1sjtd1 != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.g1sjtd1,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="g1sjtd2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g1sjtd2 != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.g1sjtd2,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="g2dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g2dz != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.g2dz,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="g2sjtd1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g2sjtd1 != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.g2sjtd1,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="g2sjtd2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g2sjtd2 != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.g2sjtd2,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="czr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.czr != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.czr,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="czsj = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.czsj != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.czsj,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="beizhu = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.beizhu != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.beizhu,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into ftu_jl_gjts
    (id, tsid, ssqy, csx, dz, g1dz, g1sjtd1, g1sjtd2, g2dz, g2sjtd1, g2sjtd2, czr, czsj, 
      beizhu)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.tsid,jdbcType=VARCHAR}, #{item.ssqy,jdbcType=VARCHAR}, 
        #{item.csx,jdbcType=VARCHAR}, #{item.dz,jdbcType=VARCHAR}, #{item.g1dz,jdbcType=VARCHAR}, 
        #{item.g1sjtd1,jdbcType=VARCHAR}, #{item.g1sjtd2,jdbcType=VARCHAR}, #{item.g2dz,jdbcType=VARCHAR}, 
        #{item.g2sjtd1,jdbcType=VARCHAR}, #{item.g2sjtd2,jdbcType=VARCHAR}, #{item.czr,jdbcType=VARCHAR}, 
        #{item.czsj,jdbcType=TIMESTAMP}, #{item.beizhu,jdbcType=VARCHAR})
    </foreach>
  </insert>
    <delete id="deleteByTsid">
      delete from ftu_jl_gjts where tsid = #{tsid,jdbcType=VARCHAR}
    </delete>
</mapper>