<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guodu.mapper.ftu.FtuJlTzybMapper">
  <resultMap id="BaseResultMap" type="com.guodu.pojo.ftu.FtuJlTzyb">
    <!--@mbg.generated-->
    <!--@Table ftu_jl_tzyb-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="tsid" jdbcType="VARCHAR" property="tsid" />
    <result column="ssqy" jdbcType="VARCHAR" property="ssqy" />
    <result column="jyxm" jdbcType="VARCHAR" property="jyxm" />
    <result column="gzmn" jdbcType="VARCHAR" property="gzmn" />
    <result column="mndl" jdbcType="VARCHAR" property="mndl" />
    <result column="zzxh" jdbcType="VARCHAR" property="zzxh" />
    <result column="zzxs" jdbcType="VARCHAR" property="zzxs" />
    <result column="jcjg" jdbcType="VARCHAR" property="jcjg" />
    <result column="czr" jdbcType="VARCHAR" property="czr" />
    <result column="czsj" jdbcType="TIMESTAMP" property="czsj" />
    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, tsid, ssqy, jyxm, gzmn, mndl, zzxh, zzxs, jcjg, czr, czsj, beizhu
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from ftu_jl_tzyb
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from ftu_jl_tzyb
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByTsid" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from ftu_jl_tzyb
    where tsid = #{tsid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.guodu.pojo.ftu.FtuJlTzyb">
    <!--@mbg.generated-->
    insert into ftu_jl_tzyb (id, tsid, ssqy, 
      jyxm, gzmn, mndl, zzxh, 
      zzxs, jcjg, czr, czsj, 
      beizhu)
    values (#{id,jdbcType=VARCHAR}, #{tsid,jdbcType=VARCHAR}, #{ssqy,jdbcType=VARCHAR}, 
      #{jyxm,jdbcType=VARCHAR}, #{gzmn,jdbcType=VARCHAR}, #{mndl,jdbcType=VARCHAR}, #{zzxh,jdbcType=VARCHAR}, 
      #{zzxs,jdbcType=VARCHAR}, #{jcjg,jdbcType=VARCHAR}, #{czr,jdbcType=VARCHAR}, #{czsj,jdbcType=TIMESTAMP}, 
      #{beizhu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.guodu.pojo.ftu.FtuJlTzyb">
    <!--@mbg.generated-->
    insert into ftu_jl_tzyb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="tsid != null and tsid != ''">
        tsid,
      </if>
      <if test="ssqy != null and ssqy != ''">
        ssqy,
      </if>
      <if test="jyxm != null and jyxm != ''">
        jyxm,
      </if>
      <if test="gzmn != null and gzmn != ''">
        gzmn,
      </if>
      <if test="mndl != null and mndl != ''">
        mndl,
      </if>
      <if test="zzxh != null and zzxh != ''">
        zzxh,
      </if>
      <if test="zzxs != null and zzxs != ''">
        zzxs,
      </if>
      <if test="jcjg != null and jcjg != ''">
        jcjg,
      </if>
      <if test="czr != null and czr != ''">
        czr,
      </if>
      <if test="czsj != null">
        czsj,
      </if>
      <if test="beizhu != null and beizhu != ''">
        beizhu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tsid != null and tsid != ''">
        #{tsid,jdbcType=VARCHAR},
      </if>
      <if test="ssqy != null and ssqy != ''">
        #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="jyxm != null and jyxm != ''">
        #{jyxm,jdbcType=VARCHAR},
      </if>
      <if test="gzmn != null and gzmn != ''">
        #{gzmn,jdbcType=VARCHAR},
      </if>
      <if test="mndl != null and mndl != ''">
        #{mndl,jdbcType=VARCHAR},
      </if>
      <if test="zzxh != null and zzxh != ''">
        #{zzxh,jdbcType=VARCHAR},
      </if>
      <if test="zzxs != null and zzxs != ''">
        #{zzxs,jdbcType=VARCHAR},
      </if>
      <if test="jcjg != null and jcjg != ''">
        #{jcjg,jdbcType=VARCHAR},
      </if>
      <if test="czr != null and czr != ''">
        #{czr,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null">
        #{czsj,jdbcType=TIMESTAMP},
      </if>
      <if test="beizhu != null and beizhu != ''">
        #{beizhu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guodu.pojo.ftu.FtuJlTzyb">
    <!--@mbg.generated-->
    update ftu_jl_tzyb
    <set>
      <if test="tsid != null and tsid != ''">
        tsid = #{tsid,jdbcType=VARCHAR},
      </if>
      <if test="ssqy != null and ssqy != ''">
        ssqy = #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="jyxm != null and jyxm != ''">
        jyxm = #{jyxm,jdbcType=VARCHAR},
      </if>
      <if test="gzmn != null and gzmn != ''">
        gzmn = #{gzmn,jdbcType=VARCHAR},
      </if>
      <if test="mndl != null and mndl != ''">
        mndl = #{mndl,jdbcType=VARCHAR},
      </if>
      <if test="zzxh != null and zzxh != ''">
        zzxh = #{zzxh,jdbcType=VARCHAR},
      </if>
      <if test="zzxs != null and zzxs != ''">
        zzxs = #{zzxs,jdbcType=VARCHAR},
      </if>
      <if test="jcjg != null and jcjg != ''">
        jcjg = #{jcjg,jdbcType=VARCHAR},
      </if>
      <if test="czr != null and czr != ''">
        czr = #{czr,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null">
        czsj = #{czsj,jdbcType=TIMESTAMP},
      </if>
      <if test="beizhu != null and beizhu != ''">
        beizhu = #{beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guodu.pojo.ftu.FtuJlTzyb">
    <!--@mbg.generated-->
    update ftu_jl_tzyb
    set tsid = #{tsid,jdbcType=VARCHAR},
      ssqy = #{ssqy,jdbcType=VARCHAR},
      jyxm = #{jyxm,jdbcType=VARCHAR},
      gzmn = #{gzmn,jdbcType=VARCHAR},
      mndl = #{mndl,jdbcType=VARCHAR},
      zzxh = #{zzxh,jdbcType=VARCHAR},
      zzxs = #{zzxs,jdbcType=VARCHAR},
      jcjg = #{jcjg,jdbcType=VARCHAR},
      czr = #{czr,jdbcType=VARCHAR},
      czsj = #{czsj,jdbcType=TIMESTAMP},
      beizhu = #{beizhu,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from ftu_jl_tzyb
        <where>
            <if test="id != null and id != ''">
                and id=#{id,jdbcType=VARCHAR}
            </if>
            <if test="tsid != null and tsid != ''">
                and tsid=#{tsid,jdbcType=VARCHAR}
            </if>
            <if test="ssqy != null and ssqy != ''">
                and ssqy=#{ssqy,jdbcType=VARCHAR}
            </if>
            <if test="jyxm != null and jyxm != ''">
                and jyxm=#{jyxm,jdbcType=VARCHAR}
            </if>
            <if test="gzmn != null and gzmn != ''">
                and gzmn=#{gzmn,jdbcType=VARCHAR}
            </if>
            <if test="mndl != null and mndl != ''">
                and mndl=#{mndl,jdbcType=VARCHAR}
            </if>
            <if test="zzxh != null and zzxh != ''">
                and zzxh=#{zzxh,jdbcType=VARCHAR}
            </if>
            <if test="zzxs != null and zzxs != ''">
                and zzxs=#{zzxs,jdbcType=VARCHAR}
            </if>
            <if test="jcjg != null and jcjg != ''">
                and jcjg=#{jcjg,jdbcType=VARCHAR}
            </if>
            <if test="czr != null and czr != ''">
                and czr=#{czr,jdbcType=VARCHAR}
            </if>
            <if test="czsj != null">
                and czsj=#{czsj,jdbcType=TIMESTAMP}
            </if>
            <if test="beizhu != null and beizhu != ''">
                and beizhu=#{beizhu,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ftu_jl_tzyb
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="tsid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.tsid,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ssqy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.ssqy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="jyxm = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.jyxm,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="gzmn = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.gzmn,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="mndl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.mndl,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="zzxh = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.zzxh,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="zzxs = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.zzxs,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="jcjg = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.jcjg,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="czr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.czr,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="czsj = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.czsj,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="beizhu = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.beizhu,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ftu_jl_tzyb
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="tsid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.tsid != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.tsid,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="ssqy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.ssqy != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.ssqy,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="jyxm = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.jyxm != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.jyxm,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="gzmn = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.gzmn != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.gzmn,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="mndl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.mndl != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.mndl,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="zzxh = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.zzxh != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.zzxh,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="zzxs = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.zzxs != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.zzxs,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="jcjg = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.jcjg != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.jcjg,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="czr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.czr != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.czr,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="czsj = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.czsj != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.czsj,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="beizhu = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.beizhu != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.beizhu,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into ftu_jl_tzyb
    (id, tsid, ssqy, jyxm, gzmn, mndl, zzxh, zzxs, jcjg, czr, czsj, beizhu)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.tsid,jdbcType=VARCHAR}, #{item.ssqy,jdbcType=VARCHAR}, 
        #{item.jyxm,jdbcType=VARCHAR}, #{item.gzmn,jdbcType=VARCHAR}, #{item.mndl,jdbcType=VARCHAR}, 
        #{item.zzxh,jdbcType=VARCHAR}, #{item.zzxs,jdbcType=VARCHAR}, #{item.jcjg,jdbcType=VARCHAR}, 
        #{item.czr,jdbcType=VARCHAR}, #{item.czsj,jdbcType=TIMESTAMP}, #{item.beizhu,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.guodu.pojo.ftu.FtuJlTzyb">
    <!--@mbg.generated-->
    insert into ftu_jl_tzyb
    (id, tsid, ssqy, jyxm, gzmn, mndl, zzxh, zzxs, jcjg, czr, czsj, beizhu)
    values
    (#{id,jdbcType=VARCHAR}, #{tsid,jdbcType=VARCHAR}, #{ssqy,jdbcType=VARCHAR}, #{jyxm,jdbcType=VARCHAR}, 
      #{gzmn,jdbcType=VARCHAR}, #{mndl,jdbcType=VARCHAR}, #{zzxh,jdbcType=VARCHAR}, #{zzxs,jdbcType=VARCHAR}, 
      #{jcjg,jdbcType=VARCHAR}, #{czr,jdbcType=VARCHAR}, #{czsj,jdbcType=TIMESTAMP}, 
      #{beizhu,jdbcType=VARCHAR})
    on duplicate key update 
    id = #{id,jdbcType=VARCHAR}, 
    tsid = #{tsid,jdbcType=VARCHAR}, 
    ssqy = #{ssqy,jdbcType=VARCHAR}, 
    jyxm = #{jyxm,jdbcType=VARCHAR}, 
    gzmn = #{gzmn,jdbcType=VARCHAR}, 
    mndl = #{mndl,jdbcType=VARCHAR}, 
    zzxh = #{zzxh,jdbcType=VARCHAR}, 
    zzxs = #{zzxs,jdbcType=VARCHAR}, 
    jcjg = #{jcjg,jdbcType=VARCHAR}, 
    czr = #{czr,jdbcType=VARCHAR}, 
    czsj = #{czsj,jdbcType=TIMESTAMP}, 
    beizhu = #{beizhu,jdbcType=VARCHAR}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.guodu.pojo.ftu.FtuJlTzyb">
    <!--@mbg.generated-->
    insert into ftu_jl_tzyb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tsid != null">
        tsid,
      </if>
      <if test="ssqy != null">
        ssqy,
      </if>
      <if test="jyxm != null">
        jyxm,
      </if>
      <if test="gzmn != null">
        gzmn,
      </if>
      <if test="mndl != null">
        mndl,
      </if>
      <if test="zzxh != null">
        zzxh,
      </if>
      <if test="zzxs != null">
        zzxs,
      </if>
      <if test="jcjg != null">
        jcjg,
      </if>
      <if test="czr != null">
        czr,
      </if>
      <if test="czsj != null">
        czsj,
      </if>
      <if test="beizhu != null">
        beizhu,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tsid != null">
        #{tsid,jdbcType=VARCHAR},
      </if>
      <if test="ssqy != null">
        #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="jyxm != null">
        #{jyxm,jdbcType=VARCHAR},
      </if>
      <if test="gzmn != null">
        #{gzmn,jdbcType=VARCHAR},
      </if>
      <if test="mndl != null">
        #{mndl,jdbcType=VARCHAR},
      </if>
      <if test="zzxh != null">
        #{zzxh,jdbcType=VARCHAR},
      </if>
      <if test="zzxs != null">
        #{zzxs,jdbcType=VARCHAR},
      </if>
      <if test="jcjg != null">
        #{jcjg,jdbcType=VARCHAR},
      </if>
      <if test="czr != null">
        #{czr,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null">
        #{czsj,jdbcType=TIMESTAMP},
      </if>
      <if test="beizhu != null">
        #{beizhu,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="tsid != null">
        tsid = #{tsid,jdbcType=VARCHAR},
      </if>
      <if test="ssqy != null">
        ssqy = #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="jyxm != null">
        jyxm = #{jyxm,jdbcType=VARCHAR},
      </if>
      <if test="gzmn != null">
        gzmn = #{gzmn,jdbcType=VARCHAR},
      </if>
      <if test="mndl != null">
        mndl = #{mndl,jdbcType=VARCHAR},
      </if>
      <if test="zzxh != null">
        zzxh = #{zzxh,jdbcType=VARCHAR},
      </if>
      <if test="zzxs != null">
        zzxs = #{zzxs,jdbcType=VARCHAR},
      </if>
      <if test="jcjg != null">
        jcjg = #{jcjg,jdbcType=VARCHAR},
      </if>
      <if test="czr != null">
        czr = #{czr,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null">
        czsj = #{czsj,jdbcType=TIMESTAMP},
      </if>
      <if test="beizhu != null">
        beizhu = #{beizhu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>