<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guodu.mapper.ftu.FtuJlGjtsMapper">
  <resultMap id="BaseResultMap" type="com.guodu.pojo.ftu.FtuJlGjts">
    <!--@mbg.generated-->
    <!--@Table ftu_jl_gjts-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="tsid" jdbcType="VARCHAR" property="tsid" />
    <result column="ssqy" jdbcType="VARCHAR" property="ssqy" />
    <result column="csx" jdbcType="VARCHAR" property="csx" />
    <result column="dz" jdbcType="VARCHAR" property="dz" />
    <result column="g1dz" jdbcType="DECIMAL" property="g1dz" />
    <result column="g1sjtd1" jdbcType="DECIMAL" property="g1sjtd1" />
    <result column="g1sjtd2" jdbcType="DECIMAL" property="g1sjtd2" />
    <result column="g2dz" jdbcType="DECIMAL" property="g2dz" />
    <result column="g2sjtd1" jdbcType="DECIMAL" property="g2sjtd1" />
    <result column="g2sjtd2" jdbcType="DECIMAL" property="g2sjtd2" />
    <result column="lx1dz" jdbcType="DECIMAL" property="lx1dz" />
    <result column="lx1sjtd1" jdbcType="DECIMAL" property="lx1sjtd1" />
    <result column="lx1sjtd2" jdbcType="DECIMAL" property="lx1sjtd2" />
    <result column="lx2dz" jdbcType="DECIMAL" property="lx2dz" />
    <result column="lx2sjtd1" jdbcType="DECIMAL" property="lx2sjtd1" />
    <result column="lx2sjtd2" jdbcType="DECIMAL" property="lx2sjtd2" />
    <result column="czr" jdbcType="VARCHAR" property="czr" />
    <result column="czsj" jdbcType="TIMESTAMP" property="czsj" />
    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, tsid, ssqy, csx, dz, g1dz, g1sjtd1, g1sjtd2, g2dz, g2sjtd1, g2sjtd2, lx1dz, lx1sjtd1, 
    lx1sjtd2, lx2dz, lx2sjtd1, lx2sjtd2, czr, czsj, beizhu
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from ftu_jl_gjts
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from ftu_jl_gjts
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByTsid" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from ftu_jl_gjts
    where tsid = #{tsid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.guodu.pojo.ftu.FtuJlGjts">
    <!--@mbg.generated-->
    insert into ftu_jl_gjts (id, tsid, ssqy, 
      csx, dz, g1dz, g1sjtd1, 
      g1sjtd2, g2dz, g2sjtd1, 
      g2sjtd2, lx1dz, lx1sjtd1, 
      lx1sjtd2, lx2dz, lx2sjtd1, 
      lx2sjtd2, czr, czsj, 
      beizhu)
    values (#{id,jdbcType=VARCHAR}, #{tsid,jdbcType=VARCHAR}, #{ssqy,jdbcType=VARCHAR}, 
      #{csx,jdbcType=VARCHAR}, #{dz,jdbcType=VARCHAR}, #{g1dz,jdbcType=DECIMAL}, #{g1sjtd1,jdbcType=DECIMAL}, 
      #{g1sjtd2,jdbcType=DECIMAL}, #{g2dz,jdbcType=DECIMAL}, #{g2sjtd1,jdbcType=DECIMAL}, 
      #{g2sjtd2,jdbcType=DECIMAL}, #{lx1dz,jdbcType=DECIMAL}, #{lx1sjtd1,jdbcType=DECIMAL}, 
      #{lx1sjtd2,jdbcType=DECIMAL}, #{lx2dz,jdbcType=DECIMAL}, #{lx2sjtd1,jdbcType=DECIMAL}, 
      #{lx2sjtd2,jdbcType=DECIMAL}, #{czr,jdbcType=VARCHAR}, #{czsj,jdbcType=TIMESTAMP}, 
      #{beizhu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.guodu.pojo.ftu.FtuJlGjts">
    <!--@mbg.generated-->
    insert into ftu_jl_gjts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="tsid != null and tsid != ''">
        tsid,
      </if>
      <if test="ssqy != null and ssqy != ''">
        ssqy,
      </if>
      <if test="csx != null and csx != ''">
        csx,
      </if>
      <if test="dz != null and dz != ''">
        dz,
      </if>
      <if test="g1dz != null">
        g1dz,
      </if>
      <if test="g1sjtd1 != null">
        g1sjtd1,
      </if>
      <if test="g1sjtd2 != null">
        g1sjtd2,
      </if>
      <if test="g2dz != null">
        g2dz,
      </if>
      <if test="g2sjtd1 != null">
        g2sjtd1,
      </if>
      <if test="g2sjtd2 != null">
        g2sjtd2,
      </if>
      <if test="lx1dz != null">
        lx1dz,
      </if>
      <if test="lx1sjtd1 != null">
        lx1sjtd1,
      </if>
      <if test="lx1sjtd2 != null">
        lx1sjtd2,
      </if>
      <if test="lx2dz != null">
        lx2dz,
      </if>
      <if test="lx2sjtd1 != null">
        lx2sjtd1,
      </if>
      <if test="lx2sjtd2 != null">
        lx2sjtd2,
      </if>
      <if test="czr != null and czr != ''">
        czr,
      </if>
      <if test="czsj != null">
        czsj,
      </if>
      <if test="beizhu != null and beizhu != ''">
        beizhu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tsid != null and tsid != ''">
        #{tsid,jdbcType=VARCHAR},
      </if>
      <if test="ssqy != null and ssqy != ''">
        #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="csx != null and csx != ''">
        #{csx,jdbcType=VARCHAR},
      </if>
      <if test="dz != null and dz != ''">
        #{dz,jdbcType=VARCHAR},
      </if>
      <if test="g1dz != null">
        #{g1dz,jdbcType=DECIMAL},
      </if>
      <if test="g1sjtd1 != null">
        #{g1sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="g1sjtd2 != null">
        #{g1sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="g2dz != null">
        #{g2dz,jdbcType=DECIMAL},
      </if>
      <if test="g2sjtd1 != null">
        #{g2sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="g2sjtd2 != null">
        #{g2sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="lx1dz != null">
        #{lx1dz,jdbcType=DECIMAL},
      </if>
      <if test="lx1sjtd1 != null">
        #{lx1sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="lx1sjtd2 != null">
        #{lx1sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="lx2dz != null">
        #{lx2dz,jdbcType=DECIMAL},
      </if>
      <if test="lx2sjtd1 != null">
        #{lx2sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="lx2sjtd2 != null">
        #{lx2sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="czr != null and czr != ''">
        #{czr,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null">
        #{czsj,jdbcType=TIMESTAMP},
      </if>
      <if test="beizhu != null and beizhu != ''">
        #{beizhu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guodu.pojo.ftu.FtuJlGjts">
    <!--@mbg.generated-->
    update ftu_jl_gjts
    <set>
      <if test="tsid != null and tsid != ''">
        tsid = #{tsid,jdbcType=VARCHAR},
      </if>
      <if test="ssqy != null and ssqy != ''">
        ssqy = #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="csx != null and csx != ''">
        csx = #{csx,jdbcType=VARCHAR},
      </if>
      <if test="dz != null and dz != ''">
        dz = #{dz,jdbcType=VARCHAR},
      </if>
      <if test="g1dz != null">
        g1dz = #{g1dz,jdbcType=DECIMAL},
      </if>
      <if test="g1sjtd1 != null">
        g1sjtd1 = #{g1sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="g1sjtd2 != null">
        g1sjtd2 = #{g1sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="g2dz != null">
        g2dz = #{g2dz,jdbcType=DECIMAL},
      </if>
      <if test="g2sjtd1 != null">
        g2sjtd1 = #{g2sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="g2sjtd2 != null">
        g2sjtd2 = #{g2sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="lx1dz != null">
        lx1dz = #{lx1dz,jdbcType=DECIMAL},
      </if>
      <if test="lx1sjtd1 != null">
        lx1sjtd1 = #{lx1sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="lx1sjtd2 != null">
        lx1sjtd2 = #{lx1sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="lx2dz != null">
        lx2dz = #{lx2dz,jdbcType=DECIMAL},
      </if>
      <if test="lx2sjtd1 != null">
        lx2sjtd1 = #{lx2sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="lx2sjtd2 != null">
        lx2sjtd2 = #{lx2sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="czr != null and czr != ''">
        czr = #{czr,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null">
        czsj = #{czsj,jdbcType=TIMESTAMP},
      </if>
      <if test="beizhu != null and beizhu != ''">
        beizhu = #{beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guodu.pojo.ftu.FtuJlGjts">
    <!--@mbg.generated-->
    update ftu_jl_gjts
    set tsid = #{tsid,jdbcType=VARCHAR},
      ssqy = #{ssqy,jdbcType=VARCHAR},
      csx = #{csx,jdbcType=VARCHAR},
      dz = #{dz,jdbcType=VARCHAR},
      g1dz = #{g1dz,jdbcType=DECIMAL},
      g1sjtd1 = #{g1sjtd1,jdbcType=DECIMAL},
      g1sjtd2 = #{g1sjtd2,jdbcType=DECIMAL},
      g2dz = #{g2dz,jdbcType=DECIMAL},
      g2sjtd1 = #{g2sjtd1,jdbcType=DECIMAL},
      g2sjtd2 = #{g2sjtd2,jdbcType=DECIMAL},
      lx1dz = #{lx1dz,jdbcType=DECIMAL},
      lx1sjtd1 = #{lx1sjtd1,jdbcType=DECIMAL},
      lx1sjtd2 = #{lx1sjtd2,jdbcType=DECIMAL},
      lx2dz = #{lx2dz,jdbcType=DECIMAL},
      lx2sjtd1 = #{lx2sjtd1,jdbcType=DECIMAL},
      lx2sjtd2 = #{lx2sjtd2,jdbcType=DECIMAL},
      czr = #{czr,jdbcType=VARCHAR},
      czsj = #{czsj,jdbcType=TIMESTAMP},
      beizhu = #{beizhu,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from ftu_jl_gjts
        <where>
            <if test="id != null and id != ''">
                and id=#{id,jdbcType=VARCHAR}
            </if>
            <if test="tsid != null and tsid != ''">
                and tsid=#{tsid,jdbcType=VARCHAR}
            </if>
            <if test="ssqy != null and ssqy != ''">
                and ssqy=#{ssqy,jdbcType=VARCHAR}
            </if>
            <if test="csx != null and csx != ''">
                and csx=#{csx,jdbcType=VARCHAR}
            </if>
            <if test="dz != null and dz != ''">
                and dz=#{dz,jdbcType=VARCHAR}
            </if>
            <if test="g1dz != null">
                and g1dz=#{g1dz,jdbcType=DECIMAL}
            </if>
            <if test="g1sjtd1 != null">
                and g1sjtd1=#{g1sjtd1,jdbcType=DECIMAL}
            </if>
            <if test="g1sjtd2 != null">
                and g1sjtd2=#{g1sjtd2,jdbcType=DECIMAL}
            </if>
            <if test="g2dz != null">
                and g2dz=#{g2dz,jdbcType=DECIMAL}
            </if>
            <if test="g2sjtd1 != null">
                and g2sjtd1=#{g2sjtd1,jdbcType=DECIMAL}
            </if>
            <if test="g2sjtd2 != null">
                and g2sjtd2=#{g2sjtd2,jdbcType=DECIMAL}
            </if>
            <if test="lx1dz != null">
                and lx1dz=#{lx1dz,jdbcType=DECIMAL}
            </if>
            <if test="lx1sjtd1 != null">
                and lx1sjtd1=#{lx1sjtd1,jdbcType=DECIMAL}
            </if>
            <if test="lx1sjtd2 != null">
                and lx1sjtd2=#{lx1sjtd2,jdbcType=DECIMAL}
            </if>
            <if test="lx2dz != null">
                and lx2dz=#{lx2dz,jdbcType=DECIMAL}
            </if>
            <if test="lx2sjtd1 != null">
                and lx2sjtd1=#{lx2sjtd1,jdbcType=DECIMAL}
            </if>
            <if test="lx2sjtd2 != null">
                and lx2sjtd2=#{lx2sjtd2,jdbcType=DECIMAL}
            </if>
            <if test="czr != null and czr != ''">
                and czr=#{czr,jdbcType=VARCHAR}
            </if>
            <if test="czsj != null">
                and czsj=#{czsj,jdbcType=TIMESTAMP}
            </if>
            <if test="beizhu != null and beizhu != ''">
                and beizhu=#{beizhu,jdbcType=VARCHAR}
            </if>
        </where>
    order by csx
    </select>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ftu_jl_gjts
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="tsid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.tsid,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ssqy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.ssqy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="csx = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.csx,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.dz,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="g1dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.g1dz,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="g1sjtd1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.g1sjtd1,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="g1sjtd2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.g1sjtd2,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="g2dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.g2dz,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="g2sjtd1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.g2sjtd1,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="g2sjtd2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.g2sjtd2,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="lx1dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.lx1dz,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="lx1sjtd1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.lx1sjtd1,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="lx1sjtd2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.lx1sjtd2,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="lx2dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.lx2dz,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="lx2sjtd1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.lx2sjtd1,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="lx2sjtd2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.lx2sjtd2,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="czr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.czr,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="czsj = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.czsj,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="beizhu = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=VARCHAR} then #{item.beizhu,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ftu_jl_gjts
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="tsid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.tsid != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.tsid,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="ssqy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.ssqy != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.ssqy,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="csx = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.csx != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.csx,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dz != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.dz,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="g1dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g1dz != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.g1dz,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="g1sjtd1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g1sjtd1 != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.g1sjtd1,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="g1sjtd2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g1sjtd2 != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.g1sjtd2,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="g2dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g2dz != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.g2dz,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="g2sjtd1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g2sjtd1 != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.g2sjtd1,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="g2sjtd2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.g2sjtd2 != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.g2sjtd2,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="lx1dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lx1dz != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.lx1dz,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="lx1sjtd1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lx1sjtd1 != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.lx1sjtd1,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="lx1sjtd2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lx1sjtd2 != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.lx1sjtd2,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="lx2dz = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lx2dz != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.lx2dz,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="lx2sjtd1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lx2sjtd1 != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.lx2sjtd1,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="lx2sjtd2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lx2sjtd2 != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.lx2sjtd2,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="czr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.czr != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.czr,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="czsj = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.czsj != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.czsj,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="beizhu = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.beizhu != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.beizhu,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into ftu_jl_gjts
    (id, tsid, ssqy, csx, dz, g1dz, g1sjtd1, g1sjtd2, g2dz, g2sjtd1, g2sjtd2, lx1dz, 
      lx1sjtd1, lx1sjtd2, lx2dz, lx2sjtd1, lx2sjtd2, czr, czsj, beizhu)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.tsid,jdbcType=VARCHAR}, #{item.ssqy,jdbcType=VARCHAR}, 
        #{item.csx,jdbcType=VARCHAR}, #{item.dz,jdbcType=VARCHAR}, #{item.g1dz,jdbcType=DECIMAL}, 
        #{item.g1sjtd1,jdbcType=DECIMAL}, #{item.g1sjtd2,jdbcType=DECIMAL}, #{item.g2dz,jdbcType=DECIMAL}, 
        #{item.g2sjtd1,jdbcType=DECIMAL}, #{item.g2sjtd2,jdbcType=DECIMAL}, #{item.lx1dz,jdbcType=DECIMAL}, 
        #{item.lx1sjtd1,jdbcType=DECIMAL}, #{item.lx1sjtd2,jdbcType=DECIMAL}, #{item.lx2dz,jdbcType=DECIMAL}, 
        #{item.lx2sjtd1,jdbcType=DECIMAL}, #{item.lx2sjtd2,jdbcType=DECIMAL}, #{item.czr,jdbcType=VARCHAR}, 
        #{item.czsj,jdbcType=TIMESTAMP}, #{item.beizhu,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.guodu.pojo.ftu.FtuJlGjts">
    <!--@mbg.generated-->
    insert into ftu_jl_gjts
    (id, tsid, ssqy, csx, dz, g1dz, g1sjtd1, g1sjtd2, g2dz, g2sjtd1, g2sjtd2, lx1dz, 
      lx1sjtd1, lx1sjtd2, lx2dz, lx2sjtd1, lx2sjtd2, czr, czsj, beizhu)
    values
    (#{id,jdbcType=VARCHAR}, #{tsid,jdbcType=VARCHAR}, #{ssqy,jdbcType=VARCHAR}, #{csx,jdbcType=VARCHAR}, 
      #{dz,jdbcType=VARCHAR}, #{g1dz,jdbcType=DECIMAL}, #{g1sjtd1,jdbcType=DECIMAL}, 
      #{g1sjtd2,jdbcType=DECIMAL}, #{g2dz,jdbcType=DECIMAL}, #{g2sjtd1,jdbcType=DECIMAL}, 
      #{g2sjtd2,jdbcType=DECIMAL}, #{lx1dz,jdbcType=DECIMAL}, #{lx1sjtd1,jdbcType=DECIMAL}, 
      #{lx1sjtd2,jdbcType=DECIMAL}, #{lx2dz,jdbcType=DECIMAL}, #{lx2sjtd1,jdbcType=DECIMAL}, 
      #{lx2sjtd2,jdbcType=DECIMAL}, #{czr,jdbcType=VARCHAR}, #{czsj,jdbcType=TIMESTAMP}, 
      #{beizhu,jdbcType=VARCHAR})
    on duplicate key update 
    id = #{id,jdbcType=VARCHAR}, 
    tsid = #{tsid,jdbcType=VARCHAR}, 
    ssqy = #{ssqy,jdbcType=VARCHAR}, 
    csx = #{csx,jdbcType=VARCHAR}, 
    dz = #{dz,jdbcType=VARCHAR}, 
    g1dz = #{g1dz,jdbcType=DECIMAL}, 
    g1sjtd1 = #{g1sjtd1,jdbcType=DECIMAL}, 
    g1sjtd2 = #{g1sjtd2,jdbcType=DECIMAL}, 
    g2dz = #{g2dz,jdbcType=DECIMAL}, 
    g2sjtd1 = #{g2sjtd1,jdbcType=DECIMAL}, 
    g2sjtd2 = #{g2sjtd2,jdbcType=DECIMAL}, 
    lx1dz = #{lx1dz,jdbcType=DECIMAL}, 
    lx1sjtd1 = #{lx1sjtd1,jdbcType=DECIMAL}, 
    lx1sjtd2 = #{lx1sjtd2,jdbcType=DECIMAL}, 
    lx2dz = #{lx2dz,jdbcType=DECIMAL}, 
    lx2sjtd1 = #{lx2sjtd1,jdbcType=DECIMAL}, 
    lx2sjtd2 = #{lx2sjtd2,jdbcType=DECIMAL}, 
    czr = #{czr,jdbcType=VARCHAR}, 
    czsj = #{czsj,jdbcType=TIMESTAMP}, 
    beizhu = #{beizhu,jdbcType=VARCHAR}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.guodu.pojo.ftu.FtuJlGjts">
    <!--@mbg.generated-->
    insert into ftu_jl_gjts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tsid != null">
        tsid,
      </if>
      <if test="ssqy != null">
        ssqy,
      </if>
      <if test="csx != null">
        csx,
      </if>
      <if test="dz != null">
        dz,
      </if>
      <if test="g1dz != null">
        g1dz,
      </if>
      <if test="g1sjtd1 != null">
        g1sjtd1,
      </if>
      <if test="g1sjtd2 != null">
        g1sjtd2,
      </if>
      <if test="g2dz != null">
        g2dz,
      </if>
      <if test="g2sjtd1 != null">
        g2sjtd1,
      </if>
      <if test="g2sjtd2 != null">
        g2sjtd2,
      </if>
      <if test="lx1dz != null">
        lx1dz,
      </if>
      <if test="lx1sjtd1 != null">
        lx1sjtd1,
      </if>
      <if test="lx1sjtd2 != null">
        lx1sjtd2,
      </if>
      <if test="lx2dz != null">
        lx2dz,
      </if>
      <if test="lx2sjtd1 != null">
        lx2sjtd1,
      </if>
      <if test="lx2sjtd2 != null">
        lx2sjtd2,
      </if>
      <if test="czr != null">
        czr,
      </if>
      <if test="czsj != null">
        czsj,
      </if>
      <if test="beizhu != null">
        beizhu,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tsid != null">
        #{tsid,jdbcType=VARCHAR},
      </if>
      <if test="ssqy != null">
        #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="csx != null">
        #{csx,jdbcType=VARCHAR},
      </if>
      <if test="dz != null">
        #{dz,jdbcType=VARCHAR},
      </if>
      <if test="g1dz != null">
        #{g1dz,jdbcType=DECIMAL},
      </if>
      <if test="g1sjtd1 != null">
        #{g1sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="g1sjtd2 != null">
        #{g1sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="g2dz != null">
        #{g2dz,jdbcType=DECIMAL},
      </if>
      <if test="g2sjtd1 != null">
        #{g2sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="g2sjtd2 != null">
        #{g2sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="lx1dz != null">
        #{lx1dz,jdbcType=DECIMAL},
      </if>
      <if test="lx1sjtd1 != null">
        #{lx1sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="lx1sjtd2 != null">
        #{lx1sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="lx2dz != null">
        #{lx2dz,jdbcType=DECIMAL},
      </if>
      <if test="lx2sjtd1 != null">
        #{lx2sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="lx2sjtd2 != null">
        #{lx2sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="czr != null">
        #{czr,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null">
        #{czsj,jdbcType=TIMESTAMP},
      </if>
      <if test="beizhu != null">
        #{beizhu,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="tsid != null">
        tsid = #{tsid,jdbcType=VARCHAR},
      </if>
      <if test="ssqy != null">
        ssqy = #{ssqy,jdbcType=VARCHAR},
      </if>
      <if test="csx != null">
        csx = #{csx,jdbcType=VARCHAR},
      </if>
      <if test="dz != null">
        dz = #{dz,jdbcType=VARCHAR},
      </if>
      <if test="g1dz != null">
        g1dz = #{g1dz,jdbcType=DECIMAL},
      </if>
      <if test="g1sjtd1 != null">
        g1sjtd1 = #{g1sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="g1sjtd2 != null">
        g1sjtd2 = #{g1sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="g2dz != null">
        g2dz = #{g2dz,jdbcType=DECIMAL},
      </if>
      <if test="g2sjtd1 != null">
        g2sjtd1 = #{g2sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="g2sjtd2 != null">
        g2sjtd2 = #{g2sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="lx1dz != null">
        lx1dz = #{lx1dz,jdbcType=DECIMAL},
      </if>
      <if test="lx1sjtd1 != null">
        lx1sjtd1 = #{lx1sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="lx1sjtd2 != null">
        lx1sjtd2 = #{lx1sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="lx2dz != null">
        lx2dz = #{lx2dz,jdbcType=DECIMAL},
      </if>
      <if test="lx2sjtd1 != null">
        lx2sjtd1 = #{lx2sjtd1,jdbcType=DECIMAL},
      </if>
      <if test="lx2sjtd2 != null">
        lx2sjtd2 = #{lx2sjtd2,jdbcType=DECIMAL},
      </if>
      <if test="czr != null">
        czr = #{czr,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null">
        czsj = #{czsj,jdbcType=TIMESTAMP},
      </if>
      <if test="beizhu != null">
        beizhu = #{beizhu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>